<header class="to_do">
    <nav>
        <ul>
            {% if current_user.is_authenticated %}
            <li>
                <ul class="first_elements">
                    {% if main_title == "Tasks for today" %}
                    <li class="checked"><a href="{{ url_for('tasks_for_today_to_do') }}">Tasks for today</a></li>
                    {% else %}
                    <li><a href="{{ url_for('tasks_for_today_to_do') }}">Tasks for today</a></li>
                    {% endif %}
                    {% if main_title == "Current tasks" %}
                    <li class="checked"><a href="{{ url_for('current_tasks_to_do') }}">Current tasks</a></li>
                    {% else %}
                    <li><a href="{{ url_for('current_tasks_to_do') }}">Current tasks</a></li>
                    {% endif %}
                    {% if main_title == "Completed tasks" %}
                    <li class="checked"><a href="{{ url_for('completed_tasks_to_do') }}">Completed tasks</a></li> 
                    {% else %}
                    <li><a href="{{ url_for('completed_tasks_to_do') }}">Completed tasks</a></li>       
                    {% endif %} 
                </ul>
            </li>
            <li>
                <ul class="last_elements">
                    <li>
                        <form action="{{ url_for('logout_to_do') }}" method="post">
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    <li class="username">{{ current_user.username }}</li>
                </ul>
            </li>
            {% else %}
            <li></li>
            <li>
                <ul class="last_elements">
                    <li><a href="{{ url_for('login_to_do') }}">Login</a></li>
                    <li><a href="{{ url_for('sign_up_to_do') }}">Sign up</a></li>        
                </ul>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>